.emptyTR{
            height: 50px;
            pointer-events: none;
        }
        .id, .author{
            display: none;
        }
        .message {
            display: inline-block;
            background-color: whitesmoke; 
            padding: 10px;
            border-radius: 20px;
            max-width: 60%;
            word-wrap: break-word;
            margin-bottom: 3px;
        }
        .user_message{
            background-color: #0084ff;
            color: white;
        }
        .user_message a {
            color: white;
        }
        .user{
            text-align: right;
            margin-left: auto;
        }
