{% extends 'messages.html' %}

{% block title %}
    Send Message
{% endblock %}

{% block message_bar %}
    <script type="text/javascript" src="//cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        const url = 'http://' + document.domain + ":8000"
        var socket = io.connect(url)
        
        socket.on('message', function(data) {
            console.log('Received from server: ', data)
            // Insert new message to chatting room
            const tbody = document.querySelector('tbody')
            const newRow = document.createElement('tr')
            const me = document.querySelector('#author').value 
            if(data.author == me) {
                newRow.classList.add('user')
            }

            const idCell = document.createElement('td')
            idCell.classList.add('id')
            idCell.textContent = 112
            newRow.appendChild(idCell)

            const authorCell = document.createElement('td')
            authorCell.classList.add('author')
            authorCell.textContent = data.author
            newRow.appendChild(authorCell)

            const messageCell = document.createElement('td')
            if(data.author == me){
                messageCell.classList.add('message', 'user_message')
            } else {
                messageCell.classList.add('message')
            }
            messageCell.textContent = data.message
            linkfy(messageCell)
            newRow.appendChild(messageCell)

            const lastRow = tbody.lastElementChild
            if(lastRow){
                tbody.insertBefore(newRow, lastRow)
            } else {
                tbody.appendChild(newRow)
            }
            scrollToBottom()
        })        

        function linkfy(cell) {
            const urlRegex = /(http:\/\/|https:\/\/)([a-zA-Z0-9\-._~:\/?#\[\]@!$&'()*+,;=]+)/g;
            
            // Replace URLs with anchor tags
            cell.innerHTML = cell.innerHTML.replace(urlRegex, function(url) {
                return `<a href="${url}" target="_blank">${url}</a>`;
                });
            return cell 
        }
        

    </script>
    <script>
        
        document.addEventListener('DOMContentLoaded', ()=>{
            update_screen_view()
            
            make_url_clickable()

            // Convert table to chat bubbles.
            const uname =  window.location.pathname.split('/')[2]
            document.querySelector("thead").style.display = 'none'
            document.querySelector("table").classList.remove("table-dark")
            const rows = document.querySelectorAll("tbody tr ")
            rows.forEach(row => {
                const authorCell = row.querySelector('.author')
                if(authorCell && authorCell.textContent.trim() === uname){
                    row.classList.add('user')
                    row.querySelector('.message').classList.add('user_message')
                }
            })
            let emptyTR = document.createElement("tr")
            emptyTR.classList.add("emptyTR")
            document.querySelector("tbody").appendChild(emptyTR)
            scrollToBottom()
            
            // Customize the behavior of clicking the send button.
            document.querySelector(".input-box").addEventListener('submit', (event) => {
              event.preventDefault()
              let form = document.querySelector('.input-box')
              const formData = new FormData(form)
              fetch('/messages/send_message', {
                method: 'POST',
                body: formData
              })
              let author = document.querySelector("#author").value
              let message= document.querySelector("#message").value
              const messageData = {
                "author": author,
                "message":message,
              }
              socket.emit('text', messageData)
              document.querySelector("#message").value=""
            })
        })
        function scrollToBottom() {
            const chatContainer = document.querySelector('.messages');
            chatContainer.scrollTop = chatContainer.scrollHeight;
        }
        window.addEventListener('resize', ()=>{
          // shorten 'send message' to 'send' while window's width is short.
          update_screen_view()
        })
        function update_screen_view(){
            if(window.innerWidth > 600){
                document.querySelector(".btn_send").value = 'Send Message'
            } else {
                document.querySelector('.btn_send').value = 'Send'
            }
        }
        function make_url_clickable(){
            const messageCells = document.querySelectorAll("td.message");
            const urlRegex = /(http:\/\/|https:\/\/)([a-zA-Z0-9\-._~:\/?#\[\]@!$&'()*+,;=]+)/g;
            
            messageCells.forEach(function(cell) {
            // Replace URLs with anchor tags
            cell.innerHTML = cell.innerHTML.replace(urlRegex, function(url) {
                return `<a href="${url}" target="_blank">${url}</a>`;
                });
            });

        }
    
    </script>
    <style>
        .emptyTR{
            height: 50px;
            pointer-events: none;
        }
        .id, .author{
            display: none;
        }
        .message {
            display: inline-block;
            padding: 10px;
            border-radius: 10px;
            max-width: 60%;
            word-wrap: break-word;
        }
        .user_message{
            background-color: #0084ff;
            color: white;
        }
        .user_message a {
            color: white;
        }
        .user{
            text-align: right;
            margin-left: auto;
        }
    </style>

    <form class="input-box" action="/messages/send_message" method="POST">
        <input type="hidden", id="author" name="author", value="{{author}}", name="author">
        <input type="text" id="message" name="message" placeholder="Type your message..." autocomplete="off">
        <input type="submit" class="btn_send" value="Send">
    </form>
{% endblock%}
