{% extends 'messages.html' %}

{% block title %}
    Send Message
{% endblock %}

{% block message_bar %}
    <link rel="stylesheet" href="/static/css/chat_room.css">
    <script type="text/javascript" src="//cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="/static/js/io.js"></script>
    <script src="/static/js/chat_room.js"></script>

    <form class="input-box" action="/messages/send_message" method="POST">
        <input type="hidden", id="author" name="author", value="{{author}}", name="author">
        <input type="text" id="message" name="message" placeholder="Type your message..." autocomplete="off">
        <input type="submit" class="btn_send" value="Send">
    </form>
{% endblock%}
