{% extends 'base.html' %}

{% block title %}
    Message
{% endblock %}


{% block content %}
<div class="chat-container">
    <h1>Chatting Room</h1>
    <div class="messages">
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Author</th>
                    <th>Message</th>
                </tr>
            </thead>
                {% for message in messages %}
                    <tr>
                        <td>{{ message.id }}</td>
                        <td>{{ message.author }}</td>
                        <td>{{ message.message }}</td>

                    </tr>
                {% endfor %}
            <tbody>

            </tbody>
        </table>
    </div> 
    <!-- send message bar or null -->
    {% block message_bar %}{% endblock%}
</div>


{% endblock%}