{% extends 'base.html' %}

{% block title %}
    Message
{% endblock %}


{% block content %}
<div class="chat-container">
    <h4 class="styled-header">Chat Room</h4>
    <div class="messages">
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Author</th>
                    <th>Message</th>
                </tr>
            </thead>

            <tbody>
                {% for message in messages %}
                    <tr>
                        <td class="id">{{ message.id }}</td>
                        <td class="author">{{ message.author }}</td>
                        <td class="message">{{ message.message }}</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> 
    <!-- send message bar or null -->
    {% block message_bar %}{% endblock%}
</div>
<style>
  .styled-header {
    border-bottom: 1px solid gray;  /* Thin gray bottom line */
    padding-bottom: 3px;            /* Space between the text and the line */
    margin: 3px;
  }
</style>

{% endblock%}